/* Global CSS */
:root {
    --secondary-color: #1c3666;
    --light-blue: #94bcd3;
    --primary-color: #f5fdfd;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    font-size: xxx-large;
}
/* Global CSS ends */

body {
    color: var(--secondary-color);
  }

/* Header and Navigation: start */  
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--secondary-color);
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header h1 {
    background-color: var(--light-blue);
    width: 30%;
    text-align: right;
    padding: 2px 10px;
    margin: 15px 0px;
}

nav {
    margin: 10px 100px;
}

header nav ul {
    display: flex;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: normal;
    font-size: x-large;
    color: var(--light-blue);
    border-bottom: 4px solid;
}

header nav ul li {
    margin: 2px 5px;
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }
/* Header and Navigation: end */

/* Hero section: start  */
.hero {
    height: 400px;
    width: 100%;
    background-image: url('../assets/images/hero-img.jpg');
    background-size: cover;
    background-position: center;   
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
    margin: 0pt;
}

.hero h2{
    font-size: xx-large;
    background-color: var(--light-blue);
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 100px;
}
/* Hero section: end */

/* Value Props section: start */
.value-props {
    background-color: var(--primary-color);   
    display: flex;
    padding-top: 20px;
    margin: 0px;
}

section {
    display: flex;
    margin: 10px;
}

.value-props h2 {
    font-size: 40px;
    padding-left: 130pt;
    padding-right: 15pt;
    flex: 2 20%;
    text-align: right;
    border-right: 3px solid var(--secondary-color);
}

.content {
    text-align: left;
    flex: 2 70%;
    font-size: larger;
    padding-left: 20pt;
    padding-right: 80pt;
}
#about-me p{
    padding-bottom: 18px;
}

#contact-me .details {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    font-weight: bold;
}
#contact-me .details div {
    padding: 3px 9px;
    border-bottom: 2px solid;
}

/* removes hyperlink styling */
a {
  text-decoration: none;
  font-family: var(--font-family);
  color: var(--secondary-color);
}
/* only underline on hover or once clicked */
.contact-me a:hover, a:active {
    text-decoration: underline;
    color: var(--light-blue)
  } 

/* Portfolio section: start */
.portfolio-grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-template-rows: minmax(100px, auto);
}

.porfolio-grid-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 150pt;
    background-size: cover;
    border: 5px solid var(--light-blue);
}

.portfolio-desc {
    background-color:var(--light-blue);
    width: max-content;
    padding: 5pt;
    margin-bottom: 10pt;
}

.portfolio-desc>p{
    font-size: small;
}

#surf-sport{
    background-image: url('../assets/images/surfer-img.jpeg');
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    height: 100%;
}

#led-wall{
    background-image: url('../assets/images/led-img.jpeg');
}

#calculator{
    background-image: url('../assets/images/calculator-img.jpeg');
}

#seo-solutions{
    background-image: url('../assets/images/seo-solutions.png');
}

#run-buddy{
    background-image: url('../assets/images/run-buddy.png');
}

/* Portfolio section: end */

/* Value Props: end */

